@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
      
}  

.row{
    width: 90%;
    margin: auto;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;      
}
@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
        text-align: left;    
    }
}
.new-row{
    width: 100%;
    margin: auto;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;      
}
@media screen and (max-width: 768px){
    .new-row{
        flex-direction: column;
        text-align: left;    
    }
}

.new-btn{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    padding: 16px 48px;
    font-size: 14px;
    font-weight: bold;       
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 1px;    
}
.new-btn:hover{
    color: rgb(1, 36, 36);
    background: #ccc;
    border: 1px solid #ccc;
}

.logo{
    float: left;
    display: flex;
    color:#000;    
    font-size: 20px; 
    font-weight: 400;
    margin-left: 0;
    cursor: pointer;
}


nav{
    z-index: 10;
    background: #FAFDFD;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1.5rem 5%;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    display: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
nav .links li{
    list-style: none;
    display: inline-block; 
    position: relative;
    background: transparent;     
}
nav .links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(28, 175, 106);
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav .links li:hover::after{
    width: 100%;
}
nav .links li a{
    color: white;
    text-decoration: none;
    font-size: 14px;  
    background: transparent;   
}
nav .links li a:hover{
    color: rgb(28, 175, 106);
    font-weight: 700;
}

#portfolionav-toggle{
    position: absolute;
    margin-top: -25px;
    top: -100px;
}

nav .portfolioicon-burger{
    display: block;
    position: absolute;
    right: 5%;
    top: 45%;
    transform: translateY(-50%);
    
}
nav .portfolioicon-burger .line{
    width: 25px;
    height: 2px;
    background-color:#000 ;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width:2560px) {
    nav .links{
        float: none;
        position: fixed;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 100%;
        z-index: 9;
        background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
        color: #fff;
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a{
        font-size: 20px;
        color: white;
        
    }
    nav .links li a{
        color:#fff;
        text-decoration: none;
        font-size: 28px; 
        background: transparent;  
    }

    nav .portfolioicon-burger{
        display: block;
        margin-right: 0px;
    }
   
    nav :checked ~ .links {
        bottom: 0;
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(2){
        opacity: 0;

    }
}


.blog-content{
    width: 100%;
    margin: auto;
    margin-top: 15%;
    margin-left: 0;
    padding: 5px 0;
    padding-top: 50px;

}
.blog-content h2{
    color: #ccc;
    padding-bottom: 30px;
    font-size: 24px;
}
.blog-left{
    flex-basis: 55%;
    margin-top: -4%;
}
.blog-left h3{
    background:transparent;
    color: #000;
    padding: 9px 0;
    padding-left: 0;
    font-size: 38px;
    margin-bottom: 20px;
    padding-bottom: 0;
    text-align: left;
}
.blog-left p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5%;
    width: 75%;
}
.blog-left a{
    font-weight: 500;
    margin-bottom: 6%;
}
.blog-left i{
    margin-left: 0%;

}
.blog-left .exp{
    display: flex;
}
.blog-left .exp-con{
    padding-right: 40px;
}
.blog-left .exp-con h2{
    color: black;
    font-size: 28px;
    margin-bottom: 5px;
    padding-bottom: 0;
}



.blog-right{
    flex-basis: 40%;
}
.blog-right img{
    width: 100%;
    height: 32rem;
    object-fit: contain;
    margin-top: -20%;
}


@media screen and (max-width:768px){

    .blog-left h3{
        font-size: 24px;
        margin-top: 15%;
    }
    .blog-left p{
        font-size: 14px;
        width: 90%;
        margin-bottom: 25px;
    }
    .blog-left a{
        margin-bottom: 25px;
    }
    .blog-right{
        margin-top: 30px;
    }
    .blog-right img{
      margin-top: 0px;
      height: 15rem;
    }
    .new-btn{
        padding: 12px 26px;
        
    }
    .blog-left .exp-con{
        padding-right: 20px;
    }
    .blog-left .exp-con h2{
        color: black;
        font-size: 20px;
        margin-bottom: 5px;
        padding-bottom: 0;
    }
}

.brief{
    margin: 0 auto;
    text-align: center;
    margin-top: 12%;
}
.brief h2{
    font-size: 28px;
}
.brief p{
    font-size: 16px;
    line-height: 1.4;
    width: 70%;
    margin: 0 auto;
}
@media screen and (max-width:768px){
    .brief h2{
        font-size: 22px;
    }
    .brief p{
        font-size: 14px;
        width: 100%;
    }
}

.prog-head{
    margin-top: 12%;
}

.prog-head h2{
    font-size: 28px;
    margin-bottom: 10px;
}

.prog-head p{
    width: 40%;
    font-size: 16px;
    line-height: 1.4;
}
@media screen and (max-width:768px){
    .prog-head h2{
        font-size: 22px;
    }
    .prog-head p{
        width: 95%;
        font-size: 14px;
        line-height: 1.4;
    }
}

.pro-con{
    width: 100%;
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    padding-bottom: 0;
    margin: 0 auto;
    
}
.pro-box{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.pro-left{
    flex-basis: 30%;
    flex-grow: 1;
    background: transparent;
    color: #000;
    padding: 1% 2%;
    margin-right: 5%;
    min-width: 250px;
    border: 1px solid #D9D9D9;
    border-radius: 10;
}
.pro-left i{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pro-left h2 {
    font-size: 18px; 
    margin-top: 0;   
 }

.pro-left p{
    background: transparent;
    font-size: 16px;
    margin-bottom: 10px;
    padding-top: 10px;
    
}

.pro-center{
    flex-basis: 30%;
    flex-grow: 1;
    background: transparent;
    color: #000;
    padding: 1% 2%;
    margin-right: 5%;
    min-width: 250px;
    border: 1px solid #D9D9D9;
    border-radius: 10;
}
.pro-center i{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.pro-center h2{
    background: transparent;
    font-size: 18px;
}

.pro-center p{
    background: transparent;
    font-size: 16px;
    margin-bottom: 10px;
    padding-top: 10px;
  
}
.pro-right{
    flex-basis: 30%;
    flex-grow: 1;
    background: transparent;
    color: #000;
    padding: 1% 2%;
    min-width: 250px;
    border: 1px solid #D9D9D9;
    border-radius: 1%;
}
.pro-right i{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pro-right h2 {
   font-size: 18px; 
}
.pro-right p{
    background: transparent;
    font-size: 16px;
    margin-bottom: 10px;
    padding-top: 10px;
    
}


@media screen and (max-width:1024px){
    .pro-left{
        margin-bottom: 5%;
        margin-right: 0%;
        flex-basis: 100%;
    }
    .pro-right{
        flex-basis: 100%;
    }
    .pro-center{
        flex-basis: 100%;
         margin-bottom: 5%;
        margin-right: 0%;
    }
    .pro-center p{
        font-size: 16px;
    }
    .pro-left p{
        font-size: 14px;
    }
   .pro-left .collection h2{
    font-size: 18px;
   }
    
}



@media screen and (max-width:768px){
    .pro-left h2{
        font-size:18px ;
    }
    .pro-right h2{
        font-size:18px ;
    }
   
    .pro-right p{
        font-size: 14px;
    }
}

#second{
    margin-bottom: 5%;
}
    


